html {
  box-sizing: border-box;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
